# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.next/
out/
.turbo/

# Logs
*.log
logs/

# Editor/OS
.DS_Store
.vscode/
.idea/

# Drizzle artifacts
backend/drizzle/*
!backend/drizzle/meta/
!backend/drizzle/0000_big_professor_monster.sql

# Coverage
coverage/


